

.beijingtu1{
    width:100%;
    /*height:100%;*/
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.beijingtu1:after{
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: rgba(0, 0, 0, 0.45);
}
/* 技能开始  */
.beijingtu2{
    width: 100%;
    height: 100%;
    background-image: url('../img/skill.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
}

.beijingtu4:after{
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: rgba(0, 0, 0, 0.10);
}
.beijingtu3{
    background-image: url('../img/hire.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.beijingtu5:after{
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: rgba(0, 0, 0, 0.10);
    z-index: -1;
}
.cls {
    clear: both;
}
a:focus { outline: none; }
#menu {
    width: 100%;
    height:40px;
    position: fixed;
    top:0;
    border-bottom:1px solid #000;
    background: rgba(0, 0, 0, 0.41);
    z-index: 999;
}
#menu ul {
    list-style: none;
    width: 100%;
    height:40px;
    margin:0;
    padding: 0;
}
#menu ul li {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 20%;
    display: block;
    text-align: center;
    height:100%;
    float: left;
    font-size: 20px;
    line-height: 40px;
}
#menu ul li a, #menu ul li span {
    float: left;
    text-decoration: none;
    color: #fff;
    clear: both;
    width: 100%;
    height: 40px;
}
#menu ul li a{
    color: #000000;
    background: transparent url("../image/a_bg.gif") repeat-x left bottom;
    background-position: left bottom;
}
#menu ul li span {
    background: transparent url("../image/a_bg.gif") repeat-x left top;
    background-position: left top;
}
.skillh3{
    width: 100%;
    text-align: left;
    padding: 10px 0 10px 40px;
    font-size: 40px;
    color: #fff;
}

/*基本信息*/

.icon-infomation img{
    width: 200px;
    height:130px;
}
.icon-infomation p{
    font-size: 12px;
    text-align: center;
}
.icon-infomation:nth-child(1){
    -webkit-animation: bounceIn 2s ease;
    animation: bounceIn 2s ease;
}

.icon-infomation:nth-child(2){
    /*opacity: 0;*/
    -webkit-animation: lightSpeedIn 2s ease forwards;
    animation: lightSpeedIn 2s ease forwards;
    -webkit-animation-delay:1s;
}
.icon-infomation:nth-child(3){
    /*opacity: 0;*/
    -webkit-animation: rubberBand 2s ease forwards;
    animation: rubberBand 2s ease forwards;
    -webkit-animation-delay:1.5s;
}

.icon-infomation:nth-child(4){
    /*opacity: 0;*/
    -webkit-animation: bounceInUp 2s ease forwards;
    animation: bounceInUp 2s ease forwards;
    -webkit-animation-delay:2s;
}

.page2-title {
    display: inline-block;
    -webkit-animation: zoomInDown 2s ease forwards;
    animation: zoomInDown 2s ease forwards;
}

.icon-infomation.zoomOutUp {
    opacity: 1;
    -webkit-animation: slideOutUp .5s linear ;
    animation: slideOutUp .5s linear ;
}

/*************最小屏作品*********************/
.work-small{
    width: 100%;
    height: 480px;
    background: #666 ;
    background-clip: content-box;
    margin-top:20px;
    padding: 0 30px;
}
.work-small ul{
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
}
.work-small ul>li{
    width:40%;
    height:20%;
    background: #333;
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 80px;
}
.work-small ul>li a{
    color: #fff;
    display: block;
    width:100%;
    height:100%;
}
.work-small ul>li:hover{
    -webkit-animation: swing .5s linear ;
    animation: swing .5s linear ;
}
