
a {
    text-decoration:none;
    color:#00c6ff;
}


.skill-content{
    width:76%;
    margin:0;
    position:relative;
    float:left;
    font-size:12px;
    line-height:2em;
    padding:30px 0 15px;
}
.col {
    width:100.5%;
    /*background: rgba(22, 22, 22, 0.65);*/
}

#skill {
    list-style:none;
    padding-top:30px;
    font: 12px normal Verdana, Arial, Helvetica, sans-serif;
    color:#fff;
}

#skill li {
    margin-bottom:60px;
    background:#ccc;
    height:13px;
    border-radius:8px;
    border-left:1px solid #111;
    border-top:1px solid #111;
    border-right:1px solid #333;
    border-bottom:1px solid #333;
}

#skill li em {
    font: 1.5em normal Arial, Helvetica, sans-serif;
    color:#fff;
    position:relative;
    top:-30px;
}

.expand {
    height:7px;
    margin:3px 0;
    background:#2187e7;
    border-radius: 5px;
    /*background: #004efc;*/
    position:absolute;
    box-shadow:0px 0px 10px 1px rgba(0,198,255,0.4);
}
.photoshop   { width:90%;  -moz-animation:photoshop 2s ease-out;   -webkit-animation:photoshop 2s ease-out;   }
.html5       { width:70%;  -moz-animation:html5 2s ease-out;       -webkit-animation:html5 2s ease-out;       }
.css3        { width:90%;  -moz-animation:css3 2s ease-out;        -webkit-animation:css3 2s ease-out;        }
.javascript  { width:89%; -moz-animation:javascript 2s ease-out; -webkit-animation:javascript 2s ease-out;     }
.jquery      { width:85%;  -moz-animation:jquery 2s ease-out;      -webkit-animation:jquery 2s ease-out;      }

@-moz-keyframes photoshop   { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes html5       { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes css3        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes javascript  { 0%  { width:0px;} 100%{ width:89%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:85%;}  }

@-webkit-keyframes photoshop   { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes html5       { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes css3        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes javascript  { 0%  { width:0px;} 100%{ width:89%;}  }
@-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:85%;}  }