.heade-top{
	width: 100%;
	height: 40px;
	background: #444;

}
.heade-top main div{
	font-size: 12px;
	float: right;
	line-height: 40px;
	color: #a8a8aa;
}
.heade-nav {
	width: 100%;
	height: 44px;
	background: #333;
	opacity: 0.8;
    }
.heade-nav main ul li{
	display: inline-block;
	cursor: pointer;
}
.heade-nav main ul li:hover{
	opacity: .65;
}
.heade-nav main ul{ 
	text-align: justify;
	line-height: 44px;
	color: #fff;
}
.heade-nav main ul:after{
	content: "";
    display: inline-block;
    height: 0px;
    width: 100%;
}
.banner{
	width: 100%;
	height: 540px;
	position: relative;
	/* padding-bottom: 20px; */
}
.banner-tubox{
	width: 100%;
	height: 100%;
}
.banner .banner-tubox a{
	width: 100%;
	height: 100%;
	display: block;
}
.butten-leftk{
	width: 10%;
	height: 100%;
	/* background: red; */
	position: absolute;
	left: 0px;
	top: 0px;
	margin: auto;
}
.butten-rightk{
	width: 10%;
	height: 100%;
	/* background: red; */
	position: absolute;
	right: 0px;
	top: 0px;
	margin: auto;
}
.left-jiantouk,.right-jiantouk{
	width: 64px;
	height: 64px;
	border-radius: 50%;
	/* background: yellow; */
	background-color: rgba(180,180,180,0.25);
    color: rgba(0,0,0,0.44);
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
}
.left-jiantouk{
	left: 20px;
}
.right-jiantouk{
	right: 20px;
}
.left-jiantouk div{
	font-size: 42px;
	/* color: #fff; */
	text-align: center;
	line-height: 60px;
}
.right-jiantouk div{
	font-size: 42px;
	/* color: #fff; */
	text-align: center;
	line-height: 60px;
}
.lunbo{
	width: 100%;
	height: 22px;
	/* background: red; */
	position: absolute;
	left: 0px;
	right: 0px;
	margin:auto;
	bottom: 15px;
}
.lunbo .tiaok{
	width: 170px;
	height: 100%;
	margin: 0 auto;
	/* background: yellow; */
}
.lunbo ul li{
	display: inline-block;
	width: 50px;
	height: 3px;
	background: #DCDCDC;
	margin: 0 auto;
}
.lunbo ul li:nth-child(2){
	background:#808080;
}



/* 屏幕大于1024px */
@media screen and (min-width: 1024px){
	.heade-top main{
		max-width: 976px;
		height: 100%;
		/* background: red; */
		margin: 0 auto;
	}
	.heade-nav main{
		max-width: 1024px;
		/* padding: 0 22px; */
		height: 100%;
		/* background: blue; */
		margin: 0 auto;
    }
	.banner .banner-tubox a{
		background-image: url('../img/b1.jpg');
		background-size: 100%;
	    background-position: center center;
	    background-repeat: no-repeat;
	    margin: 0 auto;
	}
	/* 一行四图 */
	/* <!-- 一行四图开始 --> */
	.four{
		width: 100%;
		height: 204px;
		background: blue;
	}
	.four .tu1{
		background-image: url('../img/41-1.jpg');
		/* background-size: 100%;  */
		background-repeat: no-repeat;
		background-position: center center;
		/* background-clip: content-box; */
	}
	.four .tu2{
		background-image: url('../img/42-1.jpg');
		/* background-size: 100%;  */
		background-repeat: no-repeat;
		background-position: center center;
	}
	.four .tu3{
		background-image: url('../img/43-1.jpg');
		/* background-size: 100%;  */
		background-repeat: no-repeat;
		background-position: center center;
	}
	.four .tu4{
		background-image: url('../img/44-1.jpg');
		/* background-size: 100%;  */
		background-repeat: no-repeat;
		background-position: center center;
	}
	.four-tuk{
	width: 25%;
	height: 200px;
	float: left;
	background: red;
	margin-top: 2px;
	border-right: 2px solid #fff;
	}
	.four .four-tuk:nth-child(4){
		border-right: 0px solid #fff;
	}
	
/* 底部不不不 */
	.dibu{
		width: 100%;
		/* padding: 0 20px; */
		height: 420px;
		background: #F2F2F2;
	}
	.dibu-top{
		max-width: 980px;
		height: 50px;
		margin:0 auto;
		/* background: yellow; */
		border-bottom: 1px solid #D6D6D6;
	}
	.dibu-top-zik{
		width: 980px;
		height: 21px;
		margin:0 auto;
		/* background: red; */
		margin-top: 15px;
		float: left;
		font-size: 11px;
		line-height: 21px;
		color: #888;
	}
	.dibu-middle{
		max-width: 980px;
		height: 245px;
		margin: 0 auto;
		/* background: #cceeaa; */
		padding-top: 20px;
	}
	.dibu-five{
		width: 196px;
		height: 225px;
		float: left;
		/* background: pink; */
	}
	.dibu-five h3{
		font-size: 11px;
	}
	.dibu-five ul li a{
		width: 100%;
		height: 15px;
		font-size: 11px;
		color: #333;
		margin-top: 6px;
	}
	.fenge{
		width: 100%;
		height: 57px;
		/* background: #33cc33; */
	}
	.fenge1{
		width: 100%;
		height: 57px;
		/* background: #33cc33; */
		margin-top: 28px;
	}
	.fenge2{
		width: 100%;
		height: 57px;
		/* background: #33cc33; */
		margin-top: 50px;
	}
	.dibu-five ul li:hover{
		text-decoration: underline;
	}
	.dibu-bottom{
		max-width: 980px;
		height: 109px;
		margin: 0 auto;
		padding-top: 34px;
		padding-top: 21px;
		color: #999999;
	}
	.dibu-b1{
		width: 100%;
		height: 24px;
		/* background: black; */
		border-bottom: 1px solid #d6d6d6;
		margin-bottom: 7px;
    	padding-bottom: 6px;
    	font-size: 11px;
	}
	.dibu-b1 span a{
		color: #0070C9;
	}
	.dibu-b1 span a:hover{
		text-decoration: underline;
	}
	.dibu-b2{
		width: 100%;
		height: 23px;
		/* background: black; */
		/* border-bottom: 1px solid #d6d6d6; */
    	font-size: 11px;
	}
	.dibu-b2-1{
		width: 252px;
		height: 17px;
		margin-right: 20px;
		margin-top: 4px;
		float: left;
		font-size: 10px;
	}
	.dibu-b2-2{
		width: 370px;
		height: 20px;
		/* background: red; */
		float: left;
	}
	.dibu-b2-2 a{
		border-right: 1px solid #d6d6d6;
	    margin-right: 10px;
	    padding-right: 12px;
	    display: inline-block;
	    margin-top: 3px;
	    color:#555555;
	}
	.dibu-b2-2 a:hover{
		text-decoration: underline;
	}
	.dibu-b2-2 a:nth-child(5){
		border-right: 0px solid #d6d6d6;

	}
	.dibu-b2-3{
		width: 46px;
		height: 17px;
		float: right;
	}
	.dibu-b2-3 img{
		float: left;
		margin-right: 4px;
	}
	.dibu-b2-3 a:hover{
		text-decoration: underline;
	}
	.dibu-b2-3 a:nth-child(5){
		border-right: 0px solid #d6d6d6;

	}
	.dibu-dik{
		width: 100%;
		height: 17px;
		line-height: 17px;
	}
	.dibu-di a{
		font-size: 10px;
		margin-top: 10px;
		color: #999999;
	}
	.dibu-di{
		font-size: 10px;
		margin-top: 10px;
		color: #999999;
	}
	.dibu-di a:hover{
		text-decoration: underline;

	}
	
	
	.dibu{
		display: block;
	}

	.foot{
		display: none;
	}



}


/* 屏幕大于769px,小于1024px */
@media screen and (min-width: 769px) and (max-width: 1024px){
	.banner .banner-tubox a{
		background-image: url('../img/b1-medium.jpg');
		background-size: 100%;
	    background-position: center center;
	    background-repeat: no-repeat;
	    margin: 0 auto;
	}
	/* 一行四图 */
	.two{
		width: 100%;
		height: 406px;
		background: yellow;
	}
	.two .two-tuk{
		width: 50%;
		height:200px;
		margin-top: 2px;
		border-right: 2px solid #fff;
		background: pink;
		float: left;
	}
	.two .two-tuk:nth-child(2n){
		border-right: 0px solid #fff;
	}
	.two .tu1{
		background-image: url('../img/41-2.jpg');
		/* background-size: 100%;  */
		background-repeat: no-repeat;
		background-position: center center;

	}
	.two .tu2{
		background-image: url('../img/42-2.jpg');
		/* background-size: 100%;  */
		background-repeat: no-repeat;
		background-position: center center;
	}
	.two .tu3{
		background-image: url('../img/43-2.jpg');
		/* background-size: 100%;  */
		background-repeat: no-repeat;
		background-position: center center;
	}
	.two .tu4{
		background-image: url('../img/44-2.jpg');
		/* background-size: 100%;  */
		background-repeat: no-repeat;
		background-position: center center;
	}
/* 底部不不不不不不 */
	.dibu{
		padding: 0 20px;
		height: 420px;
		background: #F2F2F2;
	}
	.dibu-top{
		padding: 0 20px;
		height: 50px;
		margin:0 auto;
		/* background: yellow; */
		border-bottom: 1px solid #D6D6D6;
	}
	.dibu-top-zik{
		padding: 0 20px;
		height: 21px;
		margin:0 auto;
		/* background: red; */
		margin-top: 15px;
		float: left;
		font-size: 11px;
		line-height: 21px;
		color: #888;
	}
	.dibu-middle{
		padding: 0 20px;
		height: 245px;
		margin: 0 auto;
		/* background: #cceeaa; */
		padding-top: 20px;
	}
	.dibu-five{
		width: 20%;
		height: 225px;
		float: left;
		/* background: pink; */
	}
	.dibu-five h3{
		font-size: 11px;
	}
	.dibu-five ul li a{
		width: 100%;
		height: 15px;
		font-size: 11px;
		color: #333;
		margin-top: 6px;
	}
	.fenge{
		width: 100%;
		height: 57px;
	}
	.fenge1{
		width: 100%;
		height: 57px;
		margin-top: 28px;
	}
	.fenge2{
		width: 100%;
		height: 57px;
		margin-top: 50px;
	}
	.dibu-five ul li:hover{
		text-decoration: underline;
	}
	.dibu-bottom{
		padding: 0 20px;
		height: 109px;
		margin: 0 auto;
		padding-top: 34px;
		padding-top: 21px;
		color: #999999;
	}
	.dibu-b1{
		width: 100%;
		height: 24px;
		border-bottom: 1px solid #d6d6d6;
		margin-bottom: 7px;
    	padding-bottom: 6px;
    	font-size: 11px;
	}
	.dibu-b1 span a{
		color: #0070C9;
	}
	.dibu-b1 span a:hover{
		text-decoration: underline;
	}
	.dibu-b2{
		width: 100%;
		height: 23px;
    	font-size: 11px;
	}
	.dibu-b2-1{
		padding: 0 20px;
		height: 17px;
		margin-right: 20px;
		margin-top: 4px;
		float: left;
		font-size: 10px;
	}
	.dibu-b2-2{
		padding: 0 20px;
		height: 20px;
		float: left;
	}
	.dibu-b2-2 a{
		border-right: 1px solid #d6d6d6;
	    margin-right: 10px;
	    padding-right: 12px;
	    display: inline-block;
	    margin-top: 3px;
	    color:#555555;
	}
	.dibu-b2-2 a:hover{
		text-decoration: underline;
	}
	.dibu-b2-2 a:nth-child(5){
		border-right: 0px solid #d6d6d6;

	}
	.dibu-b2-3{
		width: 46px;
		height: 17px;
		float: right;
	}
	.dibu-b2-3 img{
		float: left;
		margin-right: 4px;
	}
	.dibu-b2-3 a:hover{
		text-decoration: underline;
	}
	.dibu-b2-3 a:nth-child(5){
		border-right: 0px solid #d6d6d6;

	}
	.dibu-dik{
		width: 100%;
		height: 17px;
		line-height: 17px;
	}
	.dibu-di a{
		font-size: 10px;
		margin-top: 10px;
		color: #999999;
	}
	.dibu-di{
		font-size: 10px;
		margin-top: 10px;
		color: #999999;
	}
	.dibu-di a:hover{
		text-decoration: underline;

	}
/* 显示隐藏 */
	.dibu{
		display: block;
	}

	.foot{
		display: none;
	}
	
}
	

/* 屏幕小于1024px */
@media screen and (max-width: 1024px){
	.heade-top main{
		padding: 0 25px;
		height: 100%;
		/* background: red; */
		margin: 0 auto;
	}
	.heade-nav main{
		padding: 0 22px;
		height: 100%;
		/* background: pink; */
		margin: 0 auto;
	}

}
/* 屏幕小于769px */
@media screen and (max-width: 769px){
	.heade-nav main .maxzc-nav{
		display: none;
	}
	.heade-nav main .min-nav{
		display: block;
	}
	.banner .banner-tubox a{
		background-image: url('../img/b3l.jpg');
		background-size: 100%;
	    background-position: center center;
	    background-repeat: no-repeat;
	    margin: 0 auto;
	}
	.one{
		width: 100%;
		height: 810px;
		/* background: lightskyblue; */
	}
	.one .one-tuk{
		width: 100%;
		height:200px;
		margin-top: 2px;
		/* border-right: 2px solid #fff; */
		/* background: pink; */
		float: left;
	}
	.one .tu1{
		width: 100%;
		background-image: url('../img/41-3.jpg');
		/* background-size: cover;  */
		background-repeat: no-repeat;
		background-position: center center;
	}
	.one .tu2{
		width: 100%;
		background-image: url('../img/42-3.jpg');
		/* background-size: cover;  */
		background-repeat: no-repeat;
		background-position: center center;
	}
	.one .tu3{
		background-image: url('../img/43-3.jpg');
		/* background-size: 100%;  */
		background-repeat: no-repeat;
		background-position: center center;
	}
	.one .tu4{
		background-image: url('../img/44-3.jpg');
		/* background-size: contain;  */
		background-repeat: no-repeat;
		background-position: center center;
	}


/* 底部开始事实上司和四核四 */
	.dibu{
		display: none;
	}
	.foot{
		width: 100%;
		height: 488px;
		margin: 0 auto;
		/* background: pink; */
	}
	.section{
		padding: 16px 0px;
		margin: 0 20px;
		height: 50px;
		/* background: black; */
		font-size: 10px;
		color: #888888;
		border-bottom: 1px solid #D6D6D6;
	}
	.dibunav{
		padding: 20px;
		margin: 0 20px;
		height:290px ;
		/* background: yellow; */
	}
	.dibunav h3{
		width: 100%;
		height: 38px;
		padding: 10px 0px;
		/* background: blue; */
		border-bottom: 1px solid #D6D6D6;
		font-size: 11px;
		color: #333333;

	}
	.dibunew{
		padding: 20px;
		height: 148px;

	}


	.dibunew-b1{
		width: 100%;
		height: 24px;
		margin: 0 20px;
		/* border-bottom: 1px solid #d6d6d6; */
		margin-bottom: 7px;
    	padding-bottom: 6px;
    	font-size: 11px;
    	color: #999999;
	}
	.dibunew-b1 span a{
		width: 100%;
		/* display: inline-block; */
		color: #0070C9;
	}
	.dibunew-b1 span a:hover{
		text-decoration: underline;
	}
	.dibunew-local{
		/* width: 100%; */
		padding: 0 20px;
		height: 22px;
		font-size: 11px;
		
	}
	.dibunew-local img{
		float: left;
		margin-right: 4px;
	}
	.dibunew-local a:hover{
		text-decoration: underline;
	}
	.dibunew-three{
		padding: 0 20px;
		height: auto;
		overflow: hidden;
	}
	.dibunew-three-1{
		width: 100%;
		height: 17px;
		padding-top: 3px;
		/* float: left; */
		font-size: 10px;
		color: #999999;
	}

	.dibunew-three-2{
		/* padding: 0 20px; */
		width: 100%;
		height: 20px;
		/* float: left; */
		font-size: 10px;
		margin-top: 10px;
	}
	.dibunew-three-2 a{
		border-right: 1px solid #d6d6d6;
	    margin-right: 10px;
	    padding-right: 12px;
	    display: inline-block;
	    margin-top: 3px;
	    color:#555555;
	}
	.dibunew-three-2 a:hover{
		text-decoration: underline;
	}
	.dibunew-three-2 a:nth-child(5){
		border-right: 0px solid #d6d6d6;

	}

	.dibunew-three-3 a{
		font-size: 10px;
		/* margin-top: 10px; */
		color: #999999;
	}
	.dibunew-three-3{
		font-size: 10px;
		margin-top: 10px;
		color: #999999;
	}
	.dibunew-three-3 a:hover{
		text-decoration: underline;

	}










}

/* 屏幕大于769px */
@media screen and (min-width: 769px){
	.heade-nav main .maxzc-nav{
		display: block;
	}
	.heade-nav main .min-nav{
		display: none;
	}

}
@media screen and (max-width: 769px){

}



