* img{
	width: 100%;
	height: 100%;
}
.mobile-title{
	width: 7.5rem;
	height: 0.9rem;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0));
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	z-index: 200;
}
.mobile-title-left{
	width: 0.86rem;
	height: 100%;
	/* background: red; */
	float: left;
}
.mobile-title-left-icon{
	width: 0.5rem;
	height: 76%;
	float: right;
	background-image: url('../img/jingling.png');
	background-position: -0rem -0.6rem;
	background-size: cover;
}
.mobile-title-right{
	width: 0.86rem;
	height: 100%;
	float: right;
}
.mobile-title-right a{
	display: block;
    height: 0.9rem;
    line-height: 0.9rem;
    margin-right: 0.36rem;
    color: #fff;
    font-size: 0.24rem;
}
.mobile-title-middle{
	width: 5.08rem;
	height: 0.66rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #EAEFE8;
	border-radius: 0.05rem;
}
.mobile-title-middle input{
	width: 5.08rem;
	height: 0.66rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #EAEFE8;
	border-radius: 0.05rem;
	background: -webkit-linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.9));
}
.sousuoicon{
	width: 0.4rem;
	height: 0.6rem;
	/* background: red; */
	position: absolute;
	z-index: 20;
	right: 0.3rem;
	top: 0;
	margin: auto;
	background-image: url('../img/jingling.png');
	background-position: -1.56rem 0.08rem;
	background-size: cover;
}
.bannerk{
	width: 7.5rem;
	height: 3.62rem;
	background: pink;
	background-image: url('../img/banner2_.webp');
	background-size: 100%;
	position: relative;
}	
.lunbo{
	width: 1.5rem;
	height: 0.2rem;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0.1rem;
	margin: auto;
	/* background: red; */
	overflow: hidden;
	text-align: center;
	display: inline-block;
}
.dian{
	display: inline-block;
	width: 0.14rem;
	height: 0.14rem;
	border-radius: 50%;
	margin: 0 0.02rem;
    opacity: .5;
    border: 0.02rem solid rgba(0,0,0,.5);
	display: inline-block;
    background: #000;
    float: left;

}
.dian:nth-child(8){
	background: #fff;
	opacity: 1;
	margin: 0 auto;
}
/* 图文开始 */
.tuwen-one{
	/* display: inline-block; */
	width: 100%;
	height: 1.46rem;
	/* background: red; */
}
.tuwen-one li{

	width: 1.34rem;
	height: 1.14rem;
	margin: 0.08rem;
	/* background: yellow; */
	float: left;
	position: relative;
	font-size: 0.24rem;
	text-align: center;
}
.tuwen-one-tu{
	width: 0.72rem;
	height: 0.72rem;
	/* background: red; */
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
.tuwen-one span{
	display: block;
	position: relative;
	top: 0.8rem;
}
.tuwen-two{
	width: 100%;
	height: 1.3rem;
	/* background: red; */
}
.tuwen-two li{

	width: 1.34rem;
	height: 1.14rem;
	margin: 0.08rem;
	/* background: yellow; */
	float: left;
	position: relative;
	font-size: 0.24rem;
	text-align: center;
}
.tuwen-two span{
	display: block;
	position: relative;
	top: 0.8rem;
}
/* 滚动图 */
.gundongk{
	width: 100%;
	height: 1.2rem;
	padding: 0.2rem 0;
	background-image: url('../img/gundongtu.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-origin: content-box;
}
 /* 正式图文开始 */
.bigkuang{
	width: 100%;
	height: auto;
	/* overflow: hidden; */
	background: #F0F0F0;
}
.huadongk{
	width: 100%;
	height: 2.22rem;
	/* background: red; */
	margin-top: 0.1rem;
}
.huadongk-tuk{
	width: 3.52rem;
	height: 2.18rem;
	float: left;
	margin-right: 0.12rem;
}
.tuwen1-title{
	width: 100%;
	height: 0.56rem;
	position: relative;	
}
.tuwen1-title-heng-l{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: red;
	float: left;
	position: absolute;
	top: 0.22rem;
	left: 2.31rem;
	margin: auto;
}
.tuwen1-title img{
	display: inline-block;
	width: 0.26rem;
	height: 0.3rem;
	float: left;
	position: absolute;
	top: 0.05rem;
	left: 3.21rem;
	margin: auto;
}
.tuwen1-title-zi1{
	width: auto;
	height: 0.32rem;
	font-size: 0.28rem;
	color: #FF2E2E;
	text-align: center;
	line-height: 0.32rem;
	position: absolute;
	top: 0.05rem;
	left: 3.61rem;
	margin: auto;
}
.tuwen1-title-heng-r{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: red;
	float: left;
	position: absolute;
	top: 0.22rem;
	left: 4.36rem;
	margin: auto;
}
.tuwen1-tuk1{
	width: 100%;
	height: 2.7766rem;
	background: #fff;
}
.tuwen1-tuk1 li{
	width: 25%;
	height: 100%;
	/* background: red; */
	float: left;
}
.tuwen1-tuk1-title{
	width: 100%;
	/* width: 1.875rem; */
	height: 0.34rem;
	text-align: center;
    white-space: nowrap;
    margin-top: 0.1rem;
    color: #2F2F2F;
    font-size: 0.26rem;
}
.tuwen1-tuk1 img{
	width: 1.575rem;
	height: 1.575rem;
	margin: 0.16rem 0.15rem;
}
.tuwen1-tuk1-price{
	display: inline-block;
	width: 100%;
	height: 0.28rem;
	text-align: center;
    white-space: nowrap;
    color: #ff2e2e;
    font-size: 0.2rem;
    float: left;
    line-height: 0.28rem;
	position: relative;
	bottom: 0.25rem;
}
.tuwen1-tuk1-price s{
	text-decoration: line-through;
    color: #9b9b9b;
}
/* 潮流酷玩 */
.tuwen2-title{
	width: 100%;
	height: 0.56rem;
	position: relative;	
}
.tuwen2-title-heng-l{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #BECFEC;
	float: left;
	position: absolute;
	top: 0.29rem;
	left: 2rem;
	margin: auto;
}
.tuwen2-title img{
	display: inline-block;
	width: 0.26rem;
	height: 0.3rem;
	float: left;
	position: absolute;
	top: 0.12rem;
	left: 3rem;
	margin: auto;
}
.tuwen2-title-zi1{
	width: auto;
	height: 0.32rem;
	font-size: 0.28rem;
	color: #4A84E2;
	text-align: center;
	line-height: 0.32rem;
	position: absolute;
	top: 0.11rem;
	left: 3.4rem;
	margin: auto;
}
.tuwen2-title-heng-r{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #BECFEC;
	float: left;
	position: absolute;
	top: 0.29rem;
	right: 2rem;
	margin: auto;
}
.tuwen2-title-tuk{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.tuwen2-title-tuk li{
	float: left;
	width: 33.333333%;
	height:3.044rem;
	overflow: hidden;
}
/* .tuwen2-title-tuk li img{
	clear: both;
} */
/* 品牌特卖 */
.tuwen3-title{
	width: 100%;
	height: 0.56rem;
	position: relative;	
}
.tuwen3-title-heng-l{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #FFCC99;
	float: left;
	position: absolute;
	top: 0.29rem;
	left: 2rem;
	margin: auto;
}
.tuwen3-title img{
	display: inline-block;
	width: 0.26rem;
	height: 0.3rem;
	float: left;
	position: absolute;
	top: 0.09rem;
	left: 3rem;
	margin: auto;
}
.tuwen3-title-zi1{
	width: auto;
	height: 0.32rem;
	font-size: 0.28rem;
	color: #FF8000;
	text-align: center;
	line-height: 0.32rem;
	position: absolute;
	top: 0.11rem;
	left: 3.4rem;
	margin: auto;
}
.tuwen3-title-heng-r{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #FFCC99;
	float: left;
	position: absolute;
	top: 0.29rem;
	right: 2rem;
	margin: auto;
}
.tuwen3-title-tuk{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.tuwen3-title-tuk li{
	width: 3.75rem;
	height: 2.194rem;
	float: left;
}
 /* 品牌咨询  */
.tuwen4-title{
	width: 100%;
	height: 0.56rem;
	position: relative;	
}
.tuwen4-title-heng-l{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #B4E1DC;
	float: left;
	position: absolute;
	top: 0.29rem;
	left: 2rem;
	margin: auto;
}
.tuwen4-title img{
	display: inline-block;
	width: 0.26rem;
	height: 0.3rem;
	float: left;
	position: absolute;
	top: 0.09rem;
	left: 3rem;
	margin: auto;
}
.tuwen4-title-zi1{
	width: auto;
	height: 0.32rem;
	font-size: 0.28rem;
	color: #009F8A;
	text-align: center;
	line-height: 0.32rem;
	position: absolute;
	top: 0.11rem;
	left: 3.4rem;
	margin: auto;
}
.tuwen4-title-heng-r{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #B4E1DC;
	float: left;
	position: absolute;
	top: 0.29rem;
	right: 2rem;
	margin: auto;
}
.tuwen4-title-tuk{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.tuwen4-title-tuk li{
	width: 33.333333%;
	height: 3.4938rem;
	float: left;
}
/* 分割图1 */
.fengetu1{
	width: 100%;
	height: 1.865rem;
	float: left;
}
/* 便捷生活 */
.tuwen5-title{
	width: 100%;
	height: 0.56rem;
	position: relative;	
	float: left;
}
.tuwen5-title-heng-l{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #BBD79F;
	float: left;
	position: absolute;
	top: 0.29rem;
	left: 2rem;
	margin: auto;
}
.tuwen5-title img{
	display: inline-block;
	width: 0.26rem;
	height: 0.3rem;
	float: left;
	position: absolute;
	top: 0.09rem;
	left: 3rem;
	margin: auto;
}
.tuwen5-title-zi1{
	width: auto;
	height: 0.32rem;
	font-size: 0.28rem;
	color: #43AF00;
	text-align: center;
	line-height: 0.32rem;
	position: absolute;
	top: 0.11rem;
	left: 3.4rem;
	margin: auto;
}
.tuwen5-title-heng-r{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #BBD79F;
	float: left;
	position: absolute;
	top: 0.29rem;
	right: 2rem;
	margin: auto;
}
.tuwen5-bigk{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.tuwen5k-left{
	width: 3.325rem;
	height: 2.94rem;
	float: left;
}
.tuwen5k-right{
	width: 4.175rem;
	height: 2.94rem;
	float: right;
}
.tuwen5k-right-top{
	width: 100%;
	height: 1.47rem;
}
/* 国际海购 */
.tuwen6-title{
	width: 100%;
	height: 0.56rem;
	position: relative;	
	float: left;
}
.tuwen6-title-heng-l{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #CAB9D9;
	float: left;
	position: absolute;
	top: 0.29rem;
	left: 2rem;
	margin: auto;
}
.tuwen6-title img{
	display: inline-block;
	width: 0.26rem;
	height: 0.3rem;
	float: left;
	position: absolute;
	top: 0.09rem;
	left: 3rem;
	margin: auto;
}
.tuwen6-title-zi1{
	width: auto;
	height: 0.32rem;
	font-size: 0.28rem;
	color: #8828DD;
	text-align: center;
	line-height: 0.32rem;
	position: absolute;
	top: 0.11rem;
	left: 3.4rem;
	margin: auto;
}
.tuwen6-title-heng-r{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #CAB9D9;
	float: left;
	position: absolute;
	top: 0.29rem;
	right: 2rem;
	margin: auto;
}
.tuwen6-title-tuk{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.tuwen6-title-tuk li{
	width: 33.333333%;
	height: 2.96rem;
	float: left;
}
/* 精选市场 */
.tuwen7-title{
	width: 100%;
	height: 0.56rem;
	position: relative;	
	/* float: left; */
}
.tuwen7-title-heng-l{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #E8BAD5;
	float: left;
	position: absolute;
	top: 0.29rem;
	left: 2rem;
	margin: auto;
}
.tuwen7-title img{
	display: inline-block;
	width: 0.26rem;
	height: 0.3rem;
	float: left;
	position: absolute;
	top: 0.09rem;
	left: 3rem;
	margin: auto;
}
.tuwen7-title-zi1{
	width: auto;
	height: 0.32rem;
	font-size: 0.28rem;
	color: #E24AA5;
	text-align: center;
	line-height: 0.32rem;
	position: absolute;
	top: 0.11rem;
	left: 3.4rem;
	margin: auto;
}
.tuwen7-title-heng-r{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #E8BAD5;
	float: left;
	position: absolute;
	top: 0.29rem;
	right: 2rem;
	margin: auto;
}
.tuwen7-title-tuk{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom:0.02rem;
}
.tuwen7-title-tuk li{
	width: 25%;
	height: 2.65rem;
	float: left;
}
.tuwen7-title-tuk2{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom:0.02rem;
}
.tuwen7-title-tuk2 li{
	width: 50%;
	height: 2.21rem;
	float: left;
}
/* 爱生活 */
.tuwen8-title{
	width: 100%;
	height: 0.56rem;
	position: relative;	
	/* float: left; */
}
.tuwen8-title-heng-l{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #BEDBEC;
	float: left;
	position: absolute;
	top: 0.29rem;
	left: 2rem;
	margin: auto;
}
.tuwen8-title img{
	display: inline-block;
	width: 0.26rem;
	height: 0.3rem;
	float: left;
	position: absolute;
	top: 0.09rem;
	left: 3rem;
	margin: auto;
}
.tuwen8-title-zi1{
	width: auto;
	height: 0.32rem;
	font-size: 0.28rem;
	color: #17B7FF;
	text-align: center;
	line-height: 0.32rem;
	position: absolute;
	top: 0.11rem;
	left: 3.4rem;
	margin: auto;
}
.tuwen8-title-heng-r{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #BEDBEC;
	float: left;
	position: absolute;
	top: 0.29rem;
	right: 2rem;
	margin: auto;
}
.tuwen8-title-tuk{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom:0.02rem;
}
.tuwen8-title-tuk li{
	width: 25%;
	height: 2.82rem;
	float: left;
}
/* 热门行业 */
.tuwen9-title{
	width: 100%;
	height: 0.56rem;
	position: relative;	
	/* float: left; */
}
.tuwen9-title-heng-l{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #C9D0F7;
	float: left;
	position: absolute;
	top: 0.29rem;
	left: 2rem;
	margin: auto;
}
.tuwen9-title img{
	display: inline-block;
	width: 0.26rem;
	height: 0.3rem;
	float: left;
	position: absolute;
	top: 0.09rem;
	left: 3rem;
	margin: auto;
}
.tuwen9-title-zi1{
	width: auto;
	height: 0.32rem;
	font-size: 0.28rem;
	color: #5E4AE2;
	text-align: center;
	line-height: 0.32rem;
	position: absolute;
	top: 0.11rem;
	left: 3.4rem;
	margin: auto;
}
.tuwen9-title-heng-r{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #C9D0F7;
	float: left;
	position: absolute;
	top: 0.29rem;
	right: 2rem;
	margin: auto;
}
.tuwen9-title-tuk{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom:0.02rem;
	position: relative;
}
.tuwen9-title-tuk li{
	width: 50%;
	height: 2.02rem;
	float: left;
	background: #fff;
}
.tuwen9-top-leftk{
	width: 50%;
	height: 0.86rem;
	float: left;
	/* background: red; */
	text-align: center;
}
.tuwen9-zi1{
	display: inline-block;
	width: 100%;
	height: 0.34rem;
	margin-top: 0.14rem;
    font-size: 0.26rem;
    font-weight: 700;
    line-height: 0.34rem;
    float: left;
}
.tuwen9-zi2{
	display: inline-block;
	width: 100%;
	height: 0.32rem;
	margin-top: 0.04rem;
    font-size: 0.24rem;
    color: #9B9B9B;
    line-height: 0.32rem;
    float: left;
}
.tuwen9-top-rightk{
	width: 50%;
	height: 1.865rem;
	float: left;
	/* background: yellow; */
	position: relative;
	margin-top: 0.08rem;
}
.tuwen9-tuk2{
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: center;
}
.tuwen9-tuk2 li{
	float: left;
	width: 25%;
	height: 2.65rem;
	margin-top: 0.02rem;
	background: #fff;
	position: relative;
}
.tuwen9-tu2{
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0.15rem;
	margin:auto;
}
/* 品牌旗舰 */
.tuwen10-title{
	width: 100%;
	height: 0.56rem;
	position: relative;	
	/* float: left; */
}
.tuwen10-title-heng-l{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #000;
	float: left;
	position: absolute;
	top: 0.29rem;
	left: 2rem;
	margin: auto;
}
.tuwen10-title img{
	display: inline-block;
	width: 0.26rem;
	height: 0.3rem;
	float: left;
	position: absolute;
	top: 0.09rem;
	left: 3rem;
	margin: auto;
}
.tuwen10-title-zi1{
	width: auto;
	height: 0.32rem;
	font-size: 0.28rem;
	/* color: #5E4AE2; */
	text-align: center;
	line-height: 0.32rem;
	position: absolute;
	top: 0.11rem;
	left: 3.4rem;
	margin: auto;
}
.tuwen10-title-heng-r{
	display: inline-block;
	/* border: 0.02rem solid; */
	width: 0.68rem;
	height: 0.02rem;
	background: #000;
	float: left;
	position: absolute;
	top: 0.29rem;
	right: 2rem;
	margin: auto;
}
.tuwen10-toptu{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.tuwen10-toptu li{
	width: 50%;
	height: 3.2rem;
	float: left;
}
.tuwen10-toptu-k{
	width: 3.75rem;
	height: 3.18rem;
	padding: 0.04rem;
}
.tuwen10-left-tu{
	width: 2.4466rem;
	height: 2.44rem;
	float: left;
}
.tuwen10-left-tu-r1{
	width: 1.2034rem;
	height: 1.22rem;
	float: right;
}
.tuwen10-bottom-k{
	width: 100%;
	height: 0.6rem;
	margin-top: 0.06rem;
	float: left;
	position: relative;
}
.tuwen10-bottom-tuk{
	width: 0.48rem;
	height: 0.48rem;
	float: left;
	margin-top: 0.06rem;
	/* position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto; */
}
.tuwen10-bottom-zik{
	width: 2.4rem;
	height: 0.24rem;
	float: left;
	margin-top: 0.06rem;
	margin-left: 0.06rem;
	text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 0.24rem;
    overflow: hidden;
}
.tuwen10-bottom-k .zi1{
	color: #2f2f2f;
    font-size: 0.24rem;
}
.tuwen10-bottom-k .zi2{
	color: #9b9b9b;
    font-size: 0.24rem;
}
/* 猜你喜欢 */
.like-title{
	width: 100%;
	height: 0.86rem;
	color: #999;
    font-size: 0.28rem;
    text-align: center;
    line-height: 0.86rem;
}
.like-tuwen-bigk{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.like-tuwen-bigk li{
	width: 3.72rem;
	height: 5.08rem;
	float: left;
	margin-right: 0.03rem;
	margin-bottom: 0.03rem;
	background: #fff;
}
.like-tuwen-top{
	width: 100%;
	height: 3.72rem;
}
.like-tuwen-zi{
	display: inline-block;
	width: 100%;
	padding: 0 0.16rem;
	height: 0.6rem;
    line-height: 0.3rem;
    overflow: hidden;
    font-size: 0.28rem;
    float: left;
    margin-top: 0.08rem;
}
.like-tuwen-zi1{
	display: inline-block;
	width: 100%;
	padding: 0 0.16rem;
	height: 0.28rem;
	line-height: 0.28rem;
	font-size: 0.32rem;
	color: #dd2727;
	float: left;
	margin-top: 0.18rem;
}
.like-tuwen-zi1 span{
	color: #dd2727;
    font-size: 0.24rem;
}

.bigend{
	width: 100%;
	height: 0.8rem;
	position: relative;
}
.endtu{
	width: 0.6rem;
	height: 0.42rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	background-image: url('../img/end.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
/* 底部开始 */
footer{
	width: 100%;
	height: 2.1rem;
	background: #fff;
	border-top: 2px solid #000;
}
.dibu-zik{
	width: 100%;
	height: 0.32rem;
	text-align: center;
    color: #999;
    margin-top: 0.38rem;
    font-size: 0.22rem;
}
.dibu-zik a{
	display: inline-block;
    max-width: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
    color: #999;
    vertical-align: bottom;
}
footer p{
	text-align: center;
    padding: 0.6rem 0 0.44rem;
    color: #ccc;
    font-size: 0.24rem;
}
    






