.box{
	width: 100%;
	background: #F0F0F0;
	overflow: hidden;
	/* position: relative; */
}
.banner{
	width: 100%;
	height: 6.22rem;
	background: url('../img/geren_03.png') center center no-repeat;
	background-size: 100%;
	position: relative;
}
.yuanj{
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 50%;
	/* background: red; */
	position: absolute;
	left: 0.4rem;
	top: 0.28rem;
	background: url('../img/jiantou.png') center  center no-repeat;
	background-size: 100%;
}
.slk{
	width: 0.66rem;
    height: 0.36rem;
    border-radius:0.4rem;
    background: #fff;
    position: absolute;
    top: 0.4rem;
    right: 0.28rem;
    background: url('../img/shenglhao.png') center  center no-repeat;
	background-size: 100%;
}
.bj{
	width: 0.7rem;
	height: 0.7rem;
	border-radius: 50%;
	background: #fff;
	position: absolute;
    top: 1.52rem;
    right: 0.28rem;
    background: url('../img/fenxiang.png') center  center no-repeat;
	background-size: 100%;
}
.guanzhu{
	width: 1.54rem;
	height: 0.5rem;
	border-radius: 0.4rem;
	border: 0.02rem solid #828888;
	position: absolute;
	top: 1.54rem;
	left: 0.4rem;
}
.xin{
	width: 0.42rem;
	height: 0.42rem;
	border-radius: 50%;
	background: red;
	float: left;
	margin-top: 0.01rem;
	margin-left: 0.03rem;
	background: url('../img/xin2.png')center center no-repeat;
	background-size: 100%;
}
.wwzz{
	width: 1rem;
	height: 0.44rem;
	/* background: yellow; */
	float: left;
	padding-left: 0.02rem;
	
}
.wwzz1{
    width: 100%;
    height: 0.22rem;
    font-size: 0.22rem;
    color: #FFFFFF;
}
.wwzz2{
    width: 100%;
    height: 0.22rem;
    font-size: 0.18rem;
    color: #9E9F9F;
}
.banner-xia{
	width: 4.2rem;
	height: 1.36rem;
	/* background: red; */
	/* margin-top: 0.5rem; */
	margin: 0 auto;
	background: url('../img/geren_07.png')center center no-repeat;
	background-size: 100%;
}
.nanxia{
	margin-top: 0.66rem;
	width: 100%;
	overflow: hidden;
}
.zhong{
	padding-top: 0.4rem;
	width: 0.47rem;
	height: 0.55rem;
	margin: 0 auto;
	background: url('../img/zzzzz_03.png')center center no-repeat;
	background-size: 100%;
}
.xia{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.xian{
	/* display: inline-block; */
	width: 0.01rem;
	height: 12rem;
	background: #C1C1C1;
	margin: 0 auto;
    float: left;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}
.hdian1{
	width: 0.1rem;
	height: 0.1rem;
	background: red;
	border-radius: 50%;
	position: absolute;
	left: 0;
    right: 0;
    top: 0.54rem;
    margin: auto;
}
.hdian2{
	width: 0.1rem;
	height: 0.1rem;
	background: red;
	border-radius: 50%;
	position: absolute;
	left: 0;
    right: 0;
    top: 2.43rem;
    margin: auto;
}
.hdian3{
	width: 0.1rem;
	height: 0.1rem;
	background: red;
	border-radius: 50%;
	position: absolute;
	left: 0;
    right: 0;
    top: 4.98rem;
    margin: auto;
}
.hdian4{
	width: 0.1rem;
	height: 0.1rem;
	background: red;
	border-radius: 50%;
	position: absolute;
	left: 0;
    right: 0;
    top: 6.85rem;
    margin: auto;
}
.zuo{
	margin-top: 0.45rem;
	width: 3.2rem;
	height: 8.2rem;
	/* background: red; */
	float: left;
	margin-left: 0.4rem;
}
.zuoyi{
	
	width: 3.2rem;
	height: 4.1rem;
	/* background: yellow; */
}
.zsj {
	width: 100%;
	height: 0.4rem;
	padding-bottom: 0.2rem;
}
.zsj span{
	font-size: 0.2rem;
	color: #BEBEBE;
	float: right;
}
.ppai{
	width: 100%;
	height: 0.65rem;
	/* background: blue; */
}
.pp1{
	width: 100%;
	height: 0.22rem;
	font-size: 0.22rem;
	float: left;
}
.pp1 span{
	/* margin-left: 2rem; */
	font-size: 0.2rem;
	float: right;

}
.caix{
	width: 0.72rem;
	height: 0.02rem;
	/* background: yellow; */
	float: left;
	margin-top: 0.1rem;
	background: url('../img/wziz_03.png')center center no-repeat;
	background-size: 100%;
}
.pp2{
	margin-top: 0.1rem;
	width: 100%;
	height: 0.22rem;
	font-size: 0.16rem;
	float: left;
	color: #8D8D8D;
}
.tu{
	margin-top: 0.2rem;
	width: 100%;
	height: 1.64rem;
	float: left;
	background: url('../img/ttt_03.png')center center no-repeat;
	background-size: 100%;
}
.jies{
	margin-top: 0.1rem;
	width: 100%;
	height: 0.46rem;
	float: left;
}
.js1{
	width: 100%;
	height: 0.23rem;
	font-size: 0.18rem;
	color: #808080;
}
.js2{
	width: 100%;
	height: 0.23rem;
	font-size: 0.18rem;
	color: #B4B4B4;
}
.fxgz{
	margin-top: 0.1rem;
	width: 100%;
	height: 0.26rem;
	float: left;
	margin-bottom: 0.5rem;
}
.ttt{
	width: 1.06rem;
	height: 100%;
	float: left;
	/* line-height: 0.26rem; */
	background: url('../img/xiao_03.png')center  center no-repeat;
	background-size: 100%;
}
.fx{
	width: 1.06rem;
	height: 100%;
	float: left;
	line-height: 0.26rem;
	/* background: pink; */
}
.fx  i{
	display: inline-block;
    width: 0.26rem;
    height: 0.26rem;
    /* margin-top: 0.15rem; */
    float: left;
    margin-left: 0.2rem;
    margin-right: 0.1rem;
    background: url('../img/xin.png') 0 0 no-repeat;
    background-size: cover;
}
.fx span{
	font-size: 0.22rem;
    float: left;
    margin-top: -0.01rem;
    color: #666;
}
.gz{
	width: 1.06rem;
	height: 100%;
	float: right;
	line-height: 0.26rem;
	/* background: pink; */
}
.gz  i{
	display: inline-block;
    width: 0.26rem;
    height: 0.26rem;
    /* margin-top: 0.15rem; */
    float: left;
    margin-left: 0.2rem;
    margin-right: 0.1rem;
    background: url('../img/bianji (1).png') 0 0 no-repeat;
    background-size: cover;
}
.gz span{
	font-size: 0.22rem;
    float: left;
    margin-top: -0.01rem;
    color: #666;
}
.zuoer{
	
	width: 3.2rem;
	height: 4.1rem;
	/* background: yellow; */
	margin-top: 0.3rem;
}
.tu1{
	margin-top: 0.2rem;
	width: 100%;
	height: 1.64rem;
	float: left;
	background: url('../img/ttt_11.png')center center no-repeat;
	background-size: 100%;
}
.youyi{
	
	width: 3.2rem;
	height: 4.1rem;
	/* background: yellow; */
	margin-top: 0.3rem;
}
.you{
	margin-top: 2rem;
	width: 3.2rem;
	height: 10.2rem;
	/* background: red; */
	float: right;
	margin-right: 0.4rem;
}
.zsj1 {
	width: 100%;
	height: 0.4rem;
	padding-bottom: 0.2rem;
}
.zsj1 span{
	font-size: 0.2rem;
	color: #BEBEBE;
	float: left;
}
.tu3{
	margin-top: 0.2rem;
	width: 100%;
	height: 1.64rem;
	float: left;
	background: url('../img/ttt_06.png')center center no-repeat;
	background-size: 100%;
}
.youer{
	
	width: 3.2rem;
	height: 4.1rem;
	/* background: yellow; */
	margin-top: 0.3rem;
	
}
.zsj2{
	width: 100%;
	height: 0.4rem;
	padding-bottom: 0.2rem;
}
.zsj2 span{
	font-size: 0.2rem;
	color: #BEBEBE;
	float: left;
}
.tu4{
	margin-top: 0.2rem;
	width: 100%;
	height: 1.64rem;
	float: left;
	background: url('../img/ttt_14.png')center center no-repeat;
	background-size: 100%;
}



.dibu{
	width: 100%;
	height: 0.9rem;
	margin-top: 0.6rem;
	/* float: left; */
	background: #F13E2D;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: auto;
	
}
.tcdl{
	width: 3rem;
	height: 100%;
	/* float: right; */
	line-height: 0.9rem;
	margin: 0 auto;
	/* background: pink; */
}
.tcdl  i{
	display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    margin-top: 0.15rem;
    float: left;
    margin-left: 0.4rem;
    margin-right: 0.1rem;
    background: url('../img/xiaoxi.png') 0 0 no-repeat;
    background-size: cover;
}
.tcdl span{
	font-size: 0.32rem;
    float: left;
    margin-top: -0.01rem;
    color: #fff;
}