.header{
     width: 100%;
     height: 40px;
     background: #333333;
     border-top: 1px solid #B6B4B6;
}
.header-main{
     width: 1200px;
     height: 100%;
     /* background: red; */
     margin: 0 auto;
     font-size: 11px;
     color: #B0B0B0;
}
.hleft{
	width: 573px;
	height: 13px;
	margin-top: 15px;
	float: left;
	/* background: yellow; */
}
.left1{
	width: 55px;
	/* height: 100%; */
	border-right: 1px solid #3B423B;
	float: left;
}
.left2{
	width: 39px;
	/* height: 100%; */
	border-right: 1px solid #3B423B;
	float: left;
	text-align: center;
}
.left3{
	width: 38px;
	/* height: 100%; */
	border-right: 1px solid #3B423B;
	float: left;
	text-align: center;
}
.left4{
	width: 62px;
	/* height: 100%; */
	border-right: 1px solid #3B423B;
	float: left;
	text-align: center;
}
.left5{
	width: 50px;
	/* height: 100%; */
	border-right: 1px solid #3B423B;
	float: left;
	text-align: center;
}
.left6{
	width: 98px;
	/* height: 100%; */
	border-right: 1px solid #3B423B;
	float: left;
	text-align: center;
}
.left7{
	width: 83px;
	/* height: 100%; */
	/* border-right: 1px solid #3B423B; */
	float: right;
	text-align: center;
}
.hright{
	width: 120px;
	height: 100%;
	float: right;
	background: #424242;

}
.right{
	text-align: center;
	line-height: 40px;

}
.hmiddle{
	width: 153px;
	height: 13px;
	margin-top: 15px;
	float: right;
	/* background: blue; */
}
.m1{
	width: 30px;
	/* height: 100%; */
	border-right: 1px solid #3B423B;
	float: left;
	text-align: center;
}
.m2{
	width: 36px;
	/* height: 100%; */
	border-right: 1px solid #3B423B;
	float: left;
	text-align: center;
}
.m3{
	width: 85px;
	/* height: 100%; */
	/* border-right: 1px solid #3B423B; */
	float:left;
	text-align: center;
}
.sousuo{
	width: 1200px;
	height: 55px;
	margin: 0 auto;
	margin-top: 22px;
	/* background: red; */
}
.sleft{
	height: 100%;
	width: 55px;
	float: left;
}
.smiddle{
	width: 625px;
	height: 14px;
	font-size: 14px;
	color: #333333;
	margin-top: 16px;
	margin-left: 224px;
	float: left;
	/* background: yellow; */
}
.sm1 div{
	text-align: center;
	float: left;
	margin-right:21px; 
}
.sright{
	width: 296px;
	height: 50px;
	float: right;
	margin-top: 2.5px;
	/* background: pink; */
}
.srt{
	width: 51px;
	height: 100%;
	float: right;
	
}
.srz{
	width: 243px;
	height: 48px;
	border: 1px solid #E4E4E4;
	float: right;
	background: 

}
.srz-k1{
	width: 112px;
	height: 48px;
	margin-top: 15px;
    margin-right: 10px;
    float: right;
    background: red；
}
.srz1{
	font-size: 11px;
	text-align: center;
}
.srz-k2{
	width: 52px;
	height: 48px;
	margin-top: 15px;
    margin-right: 10px;
    float: right;
    background: #EEEEEE；
}
.banner{
	width:1200px;
	height: 460px;
	background: black;
	margin: 0 auto;
	margin-top: 24px;

	position:relative;
}
.bright{
	width: 966px;
	height: 100%;
	float: right;
	background: red;

}
.bright img{
	width: 100%;
	height: 100%;
}

.dian{
	width: 90px;
    height: 10px;
    position : absolute;
    right: 35px;
    bottom: 25px;
}
.yuan{
	background:#7C676B ;
	border: 2px solid #A39497;
}

.dian div{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin-right: 10px;
	background:#7C676B ;
	float: left;
	border: 2px solid #A39497;
}
.bleft{
	width: 234px;
	height: 100%;
	background: #615758;
}
.bleft-k1{
	width: 182px;
	height: 32px;
	margin-left: 28px;
	margin-top: 20px;
	font-size: 12px;
	color: #e5e3e4;
	float: left;
	background: #615758;
}
.bleft-k{
	width: 182px;
	height: 32px;
	margin-left: 28px;
	margin-top: 11px;
	font-size: 12px;
	color: #e5e3e4;
	float: left;
	background: #615758;
}
.bleft-zi{
	line-height: 32px;
	float: left;
}