header{
	width: 100%;
	height: 40px;
	background: #333333;
}
.header-main{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
	font-size: 13px;
	color: #B0B0B0;
	/* background: yellow; */
}

.hleft{
	width: 574px;
	height: auto;
	/* margin-top: 15px; */
	float: left;
	margin-top: 12px;
	overflow: hidden;
	/* background: blue; */
}
.header-main a{
	color: #B0B0B0;
}
.header-main a:hover{
	color:white;
}
.left1{
	width: 55px;
	/* height: 100%; */
	border-right: 1px solid #3B423B;
	float: left;
}
.left2{
	width: 39px;
	/* height: 100%; */
	border-right: 1px solid #3B423B;
	float: left;
	text-align: center;
}
.left3{
	width: 38px;
	/* height: 100%; */
	border-right: 1px solid #3B423B;
	float: left;
	text-align: center;
}
.left4{
	width: 62px;
	/* height: 100%; */
	border-right: 1px solid #3B423B;
	float: left;
	text-align: center;
}
.left5{
	width: 50px;
	/* height: 100%; */
	border-right: 1px solid #3B423B;
	float: left;
	text-align: center;
}
.left6{
	width: 98px;
	/* height: 100%; */
	border-right: 1px solid #3B423B;
	float: left;
	text-align: center;
}
.left7{
	float: right;
	text-align: center;
}
.hright{
	width: 120px;
	height: 100%;
	float: right;
	background: #424242;
	background-image: url('../img/buy.jpg');
}
.hright:hover{
	background-image: url('../img/gouwuche.jpg');
}
.right{
	text-align: center;
	line-height: 40px;

}

.hmiddle{
	width: 153px;
	height: auto;
	margin-top: 12px;
	float: right;
	overflow: hidden;
	/* background: blue; */
}
.m1{
	width: 30px;
	/* height: 100%; */
	border-right: 1px solid #3B423B;
	float: left;
	text-align: center;
}
.m2{
	width: 36px;
	/* height: 100%; */
	border-right: 1px solid #3B423B;
	float: left;
	text-align: center;
}
.m3{
	width: 85px;
	/* height: 100%; */
	/* border-right: 1px solid #3B423B; */
	float:left;
	text-align: center;
}

/* 导航开始  */

nav{
	width: 1226px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    /* background: green; */
    margin-top: 22px;
}
.logo{
	width: 55px;
	height: 55px;
	float: left;
	background: #FF6709;
}
.logo img{
	width: 100%;
	height: 100%;
}
.nright{
	width: 983px;
	height: 100%;
	float: right;
	/* background: yellow; */
	margin-top: 2.5px;
}
.nright a{
	color: #000000;
}
.nright a:hover{
	color: #F76705;
}
nav ul{
	margin-top: 18px; 
	float: left;
}
nav ul li{
	float: left;
	margin-right: 21px;
}
.li9{
	margin-right: 0px;
}
.input1{
	width:  45px;
	height: 50px;
	float: right;
	/* position: relative;
	bottom: 2.5px; */
}
.input{
	width: 245px;
	height: 50px;
	float: right;
	border: 1px solid #B9B9B9;
	/* position: relative;
	bottom: 2.5px; */
}

/* banner开始 */
.banner{
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	margin-top: 23px;
	position: relative;
}
.banner img{
	width: 100%;
	height: 100%;
}
.banner aside{
	width: 234px;
	height: 100%;
	position: absolute;
	left: 0px;
    top: 0px;
    margin: auto;
    background: #000;
    opacity: 0.6;

}
.banner aside ul{
	margin-top: 19px;
}
.banner aside ul li{
	color: #fff;
	line-height: 42px;
	/* width: 180px; */
	font-size: 14px;
   /* text-align: center; */
   padding: 0px 24px;
   /* float: left; */
}
.banner aside .right1{
   float: right;
}
.banner aside ul li:hover{
	background: #FF6700;
}

.jiantou1{
	width: 41px;
	height: 69px;
	background-image: url('../img/icon-slides.png');
	background-position: -83px 0px;
	overflow: hidden;
	position: absolute;
	left: 234px;
	top: 195.5px;
}
.jiantou1:hover{
	background-image: url('../img/icon-slides.png');
	background-position:0px 0px;
	/* overflow: hidden; */
	position: absolute;
	left: 234px;
	top: 195.5px;
}
.jiantou2{
	width: 41px;
	height: 69px;
	background-image: url('../img/icon-slides.png');
	background-position:-125px 0px;
	position: absolute;
	right: 0px;
	top: 195.5px;
}
.jiantou2:hover{
	width: 41px;
	height: 69px;
	background-image: url('../img/icon-slides.png');
	background-position:-42px 0px;
	position: absolute;
	right: 0px;
	top: 195.5px;
}
.bdiank{
	position:absolute;
	bottom: 25px;
	right: 35px;
}
.bdian div{
	width: 8.5px;
	height: 8.5px;
	border-radius:50%;
	border: 1.5px solid #898989;
	background: #524B43;
	float: left;
	margin-right: 8px;
	opacity: 0.6;
}
.bdian div:hover{
	border: 1.5px solid #606878;
	background: #fff;
	opacity: 0.6;
}
.bdian #dian{
	border: 1.5px solid #606878;
	background: #fff;
	opacity: 0.6;
}

/* <!-- 一排四个开始 --> */
.four{
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	margin-top: 14px;
	margin-bottom: 45px;
}
.four img{
	width: 100%;
	height: 100%;
}
.f1{
	width: 234px;
	height: 170px;
	background: #5F5750;
	float: left;
	position: relative;

}
.f1 img{
	width:  100%;
	height: 100%;
}
.f1k{
	width: 64px;
	height: 72px;
	/* background: yellow; */
	position: relative;
	left: 10px;
	top: 10px;
	padding-right: 5px;
	padding-bottom: 2px;
	border-right: 1px solid #665E57;
	border-bottom: 1px solid #665E57;
	float: left;
	margin-right: 9px;
}

.f1k2{
	width: 64px;
	height: 72px;
/* 	background: yellow;
 */	position: relative;
	left: 10px;
	top: 10px;
	padding-right: 5px;
	padding-bottom: 2px;
	border-right: 1px solid #665E57;
	border-bottom: 1px solid #665E57;
	float: left;
	margin-right: 9px;
}
.f1k1{
	width: 64px;
	height: 72px;
	/* background: yellow; */
	position: relative;
	left: 10px;
	top: 10px;
	padding-right: 5px;
	padding-bottom: 2px;
	/* border-right: 1px solid #665E57; */
	border-bottom: 1px solid #665E57;
	float: left;
	margin-right: 9px;
}
.f2k{
	width: 64px;
	height: 72px;
	/* background: yellow; */
	position: relative;
	left: 10px;
	top: 10px;
	padding-right: 5px;
	padding-bottom: 2px;
	border-right: 1px solid #665E57;
	border-bottom: 1px solid #665E57;
	float: left;
	margin-right: 9px;
	margin-top: 9px;
}
.f2k2{
	width: 64px;
	height: 72px;
	/* background: yellow; */
	position: relative;
	left: 10px;
	top: 10px;
	padding-right: 5px;
	padding-bottom: 2px;
	border-right: 1px solid #665E57;
	border-bottom: 1px solid #665E57;
	float: left;
	margin-right: 9px;
	margin-top: 9px;
}
.f2k1{
	width: 64px;
	height: 72px;
	/* background: yellow; */
	position: relative;
	left: 10px;
	top: 10px;
	padding-right: 5px;
	padding-bottom: 2px;
	/* border-right: 1px solid #665E57; */
	border-bottom: 1px solid #665E57;
	float: left;
	margin-right: 9px;
	margin-top: 9px;
}
.f2{
	width: 316px;
	height: 170px;
	margin-left: 14px;
	float: left;
	transition: all .2s linear;
}
.f2:hover{
	box-shadow: 0px 20px 40px 0px rgba(200,200,200,0.6);
}
.f1k2:hover{
	background-image: url('../img/61_03.png');
	background-size: 100%;
}
/* 小米明星单品开始 */
.five{
	width: 1226px;
	height: 30px;
	margin: 0 auto;
	margin-top: 45px;
	margin-bottom: 10px;
	/* background: greenyellow; */
}
.fivezi{
	float: left;
	font-size: 21px;
}
.fiverightk{
	width: 36px;
	height: 24px;
	float: right;
	padding: 3px 5px;
	border:  1px solid #e0e0e0;
	margin-top: 6px;
	/* background: ; */
	
	/* background: black; */
}
.fiverightk div{
	font-size: 16px;
	margin: 0 auto;
	line-height: 16px;
	text-align: center;
}
.five a:hover{
	color: red;
}
.five a:visitd{
	color: #E0E0E0;
}


.six{
	width: 1226px;
	height: 340px;
	margin: 0 auto;
	margin-bottom: 40px;
	/* background: green; */
}
.six img{

	float: left;
	margin-right:14px;
}
.six .img{
	
	float: left;
	margin-right:0px;
}
/* 灰色底框以及图文开始 */
.graykuang{
	width: 100%;
	height: 4634px;
	padding-top: 60px;
	background: #F5F5F5;
}
.title{
	width: 1226px;
	height: 58px;
	margin: 0 auto;
	/* background: red; */
	/* position: relative; */
}
.titlezi{
	font-size: 21px;
	line-height: 58px;
	float: left;
}
.morek{
	width: 92px;
	height: 58px;
	float: right;
	/* line-height: 58px; */
	font-size: 
}
.more1{
	width: 72px;
	height: 17px;
	float: left;
	margin: 0 auto;
	margin-top: 19px;
	/* line-height: 58px; */
}
.moret{
	width: 20px;
	height: 20px;
	border-radius: 50%;
/* 	background: #B0B0B0; */
	float: right;
	/* position: relative; */
	margin-top: 19px;
	background-image: url('../img/title1jian.png');
}

.morek:hover,.more1:hover{
	color: red;
}
.moret:hover{
	background-image: url('../img/title1jian2.png');
}
/* <!-- 一大八小图开始 --> */
.xinpin{
	width: 64px;
	height: 20px;
	margin:  0 auto;
	background: #83C44E;
}
.xinpin-zi{
	font-size: 13px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
.dazhe{
	width: 64px;
	height: 20px;
	margin:  0 auto;
	background: #E53935;
}
.dazhe-zi{
	font-size: 13px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
.mianyou{
	width: 64px;
	height: 20px;
	margin:  0 auto;
	background: #FFAC13;
}
.mianyou-zi{
	font-size: 13px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}

.onetu{
	width: 1226px;
	height: 614px;
	margin: 0 auto;
	/* background: yellow; */
	margin-bottom: 22px;
}
.onezuo{
	width: 234px;
	height: 614px;
	float: left;
	transition: all .2s linear;
}
.onezuo:hover{
	box-shadow: 0px 20px 40px 0px rgba(200,200,200,0.6);
	transform: translateY(-3px);
}
.onetu img{
	width: 100%;
	height: 100%;
}
.oneyou{
	width: 992px;
	height: 614px;
	float: left;
	/* background: red; */
}
.one1{
	width: 234px;
	height: 300px;
	float: left;
	margin-left: 14px;
	background: #FEFEFE;
	transition: all .2s linear;
	position: relative;
	overflow: hidden;
}
.one1:hover{
	box-shadow: 0px 20px 40px 0px rgba(200,200,200,0.6);
	transform: translateY(-3px);
}
.one1:nth-child(n+5){
	margin-top: 14px;
}
.one1 .tu{
	width: 160px;
	height: 160px;
	position: absolute;
	top: 20px;
	right: 37px;
}
.one1 .zi{
	position: absolute;
	left: 10px;
	top: 198px;
}
.one1 .zi .p1{
	width: 214px;
	height: 21px;
	line-height: 21px;
	font-size: 14px;
	text-align: center;
}
.one1 .zi .p2{
	width: 214px;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	text-align: center;
	color: #b0b0b0;
}
.one1 .zi .p3{
	width: 214px;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	color: #ff6700;
	margin-top: 10px;
}
/* 左图 */
.twozuo{
	width: 234px;
	height: 614px;
	float: left;
}
.twozuo .zuo1{
	width: 234px;
	height: 300px;
	transition: all .2s linear;
}
.twozuo .zuo1:hover{
	box-shadow: 0px 20px 40px 0px rgba(200,200,200,0.6);
	transform: translateY(-3px);
}
.twozuo .zuo2{
	width: 234px;
	height: 300px;
	margin-top: 14px;
	transition: all .2s linear;
}
.twozuo .zuo2:hover{
	box-shadow: 0px 20px 40px 0px rgba(200,200,200,0.6);
	transform: translateY(-3px);
}
/* 两行字互换 */
.one1 .zi .p4{
	width: 214px;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	color: #ff6700;
}
.one1 .zi .p5{
	width: 214px;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	text-align: center;
	color: #b0b0b0;
	margin-top: 10px;
}
/* 最后两个特别图 */
.one2{
	width: 234px;
	height: 300px;
	float: left;
	margin-left: 14px;
	margin-top: 14px;
	background: #F5F5F5;
	position: relative;
}
.one1-right1{
	width: 234px;
	height: 143px;
	background: #FFFFFF;
	transition: all .2s linear;
}
.one1-right1:hover{
	box-shadow: 0px 20px 40px 0px rgba(200,200,200,0.6);
	transform: translateY(-3px);
}
.one2 .p7{
	width: 94px;
	height: 21px;
	font-size: 14px;
 	position: absolute;
 	top: 40px;
 	left: 30px;
 	margin: auto;
}
.one2 .p8{
	width: 94px;
	height: 21px;
	font-size: 14px;
	color: #ff6700;
 	position: absolute;
 	top: 71px;
 	left: 30px;
 	margin: auto;
}
.one1-right1 .tu1{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 32px;
	right: 20px;
	margin: auto;
}


.one1-right2{
	width: 234px;
	height: 143px;
	background: #FFFFFF;
	margin-top: 14px;
	transition: all .2s linear;
	position: relative;
}
.one1-right2:hover{
	box-shadow: 0px 20px 40px 0px rgba(200,200,200,0.6);
	transform: translateY(-3px);
}
.one2 .p9{
	width: 94px;
	height: 21px;
	font-size: 18px;
	color: #333;
 	position: absolute;
 	top: 48px;
 	left: 30px;
 	margin: auto;
}
.one2 .p10{
	width: 94px;
	height: 18px;
	font-size: 12px;
    color: #757575;
 	position: absolute;
 	top: 72px;
 	left: 30px;
 	margin: auto;
}
.one1-right2 .tu2{
	width: 48px;
	height: 48px;
	position: absolute;
	top: 48px;
	right: 35px;
	margin: auto;
}
/* 搭配开始 */
.title-right{
	width: 328px;
	height: 42px;
	float: right;
}
.title-right ul{
	width: 328px;
	height: 42px;
	float: left;
	margin-top:16px;
	font-size: 16px;
}
.title-right ul li{
	margin-left: 30px;
	float: left;
	padding-bottom: 2px;
}
.title-right ul li:nth-child(2){
	margin-left: 30px;
	float: left;
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.title-right ul li:hover{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
/* 推荐 一行五图开始 第一组  */

.seven{
	width: 1226px;
	height: 300px;
	margin: 0 auto;
	/* margin-bottom: 40px; */
	/* background: green; */
}
.seven img{
	width: 100%;
	height: 100%;
}
.seven-k{
	width: 234px;
	height: 300px;
	float: left;
	background: #FFFFFF;
	margin-right: 14px;
	position: relative;
	transition: all .2s linear;
}
.seven-k:nth-last-child(1){
	margin-right: 0px;
}
.seven-k:hover{
	transform: translateY(-3px);
}

.seven-k .tu{
	width: 140px;
	height: 140px;
	position: absolute;
	top: 40px;
	right: 47px;
}
.seven-k .zi{
	position: absolute;
	left: 10px;
	top: 200px;
}
.seven-k .zi .p1{
	width: 214px;
	height: 21px;
	line-height: 21px;
	font-size: 14px;
	text-align: center;
}
.seven-k .zi .p4{
	width: 214px;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	color: #ff6700;
}
.seven-k .zi .p5{
	width: 214px;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	text-align: center;
	color: #b0b0b0;
	margin-top: 10px;
}

/* .xiaokuang{
	width: 234px;
	height: 75px;
}
 */
.one1:hover .bottom{   
	animation: yangjinrui .5s linear forwards  ;
			
		}
.bottom{
	width: 100%;
	height: 76px;
	background: #FF6700;
	position: absolute;
	left: 0px;
	bottom: -76px;
	margin: auto;
			/* opacity: 0;   /* 隐藏 */ 
}
.wenzi{
	width: 100%;
	height: 76px;
	/* background: orangered; */
	/* position: absolute;
	left: 0px;
	bottom: 0px;
	margin: auto; */
}

.one1 .wenzi .p6{
	width: 214px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	color: #fff;
	margin-top: 10px;
}
.one1 .wenzi .pp{
	width: 214px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	color: #b0b0b0;
	margin-top: 10px;
}

@keyframes yangjinrui{
			0%{
				opacity: 0;
				transform: translateY(0px);
			}
			20%{
				opacity: 0.2;
				transform: translateY(-15px);
			}
			40%{
				opacity: 0.4;
				transform: translateY(-35px);
			}
			60%{
				opacity: 0.6;
				transform: translateY(-50px);
			}
			80%{
				opacity: 0.8;
				transform: translateY(-63px);
			}
			100%{
				opacity: 1;
				transform: translateY(-76px);
			}
}





/* <!-- 热评产品开始 --> */
.eight{
	width: 1226px;
	height: 415px;
	margin: 0 auto;
	/* background: red; */
}
.eight-k{
	width: 296px;
	height: 415px;
	background: pink;
	float:left; 
	margin-right: 14px;
	transition: all .2s linear;
}
.eight-k:nth-last-child(1){
	margin-right: 0px;
}
.eight-k:hover{
	box-shadow: 0px 20px 40px 0px rgba(200,200,200,0.6);
	transform: translateY(-3px);
}
/* <!-- 内容开始 --> */
.nine{
	width: 1226px;
	height: 420px;
	margin: 0 auto;
	/* background: red; */
}
.nine-k{
	width: 296px;
	height: 420px;
	background: #FFFFFF;
	float:left; 
	margin-right: 14px;
	transition: all .2s linear;
	position: relative;
	border-top: 1px solid;
}
.nine-k:nth-last-child(1){
	margin-right: 0px;
	border-top: 1px solid #2196F3;
}
.nine-k:nth-last-child(2){
	border-top: 1px solid #F6AA77;
}
.nine-k:nth-last-child(3){
	border-top: 1px solid #83C44E;
}
.nine-k:nth-last-child(4){
	border-top: 1px solid #FFAC13;
}
.nine-k:hover{
	box-shadow: 0px 20px 40px 0px rgba(200,200,200,0.6);
	transform: translateY(-3px);
}

/* .nine-k-zi1k{
	width: 270px;
	height: 21px;
	position: absolute;
	left: 13px;
	top: 45px;
	background: red;
} */
.nine-k:hover .nine-jiantou1,.nine-k:hover .nine-jiantou2{
	animation: toumin   .2s   linear   forwards  ;
}
@keyframes toumin{
			0%{
				opacity: 0;
			}
			20%{
				opacity: 0.2;
			}
			40%{
				opacity: 0.4;
			}
			60%{
				opacity: 0.6;
			}
			80%{
				opacity: 0.8;
			}
			100%{
				opacity: 1;
			}

		}
.nine-k-zi1{
	width: 270px;
	height: 21px;
	position: absolute;
	left: 13px;
	top: 42px;
	/* background: red; */
    font-size: 16px;
    text-align: center;
    color: #ffac13;
}
.nine-k-zi2{
	width: 270px;
	height: 25px;
	margin-top: 18px;
	position: absolute;
	left: 13px;
	top: 60px;
	/* background: red; */
	font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #333;
}
.nine-k-zi3k{
	width: 270px;
	height: 40px;
	margin-top: 25px;
	position: absolute;
	left: 13px;
	top: 87px;
}
.nine-k-zi3{
	width: 200px;
	height: 34px;
	color: #b0b0b0;
	font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;
}
.nine-k-zi4{
	width: 270px;
	height: 21px;
	margin-top: 18px;
	position: absolute;
	left: 13px;
	top: 140px;
	/* background: red; */
	font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #333;
}
.nine-k-tu{
	width: 270px;
	height: 154px;
	margin-top: 18px;
	position: absolute;
	left: 13px;
	top: 190px;
	/* background: red; */
	font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #333;
}
.nine-diank1{
	width: 104px;
	height: 30px;
	/* background: greenyellow; */
	position: absolute;
	left: 0px;
	right: 0px;
	bottom:15px;
	margin: auto;
}
.nine-diank2{
	width: 130px;
	height: 30px;
	/* background: greenyellow; */
	position: absolute;
	left: 0px;
	right: 0px;
	bottom:15px;
	margin: auto;
}
.nine-dian{
	display: inline-block;
    width: 6px;
    height: 6px;
    /* border: 2px solid #f5f5f5; */
    border-radius: 50%;
    background: #B0B0B0;
    margin-left:20px ;
}
.nine-dian:hover{
	background: #FF6700;
}
.nine-dian:nth-last-child(3){
	display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #FF6700;
    border-radius: 50%;
    background: #FFFFFF;
    margin-left:20px ;
    /* margin-top: 2px; */
    position: relative;
    top: 2px;
}
.nine-jiantou1{
	width: 20px;
	height: 48px;
	padding: 12px 0px;
	background: #EAEAEA;
	position: absolute;
	left: 0px;
	/* right: 0px; */
	top: 0px;
	bottom: 0px;
	margin: auto;
	opacity: 0;
}
.nine-jiantou1:hover{
	background: #5E6061;
	transition: all .5s linear;
}
.nine-jiantou2:hover{
	background: #5E6061;
	transition: all .5s linear;
}
.nine-jiantou1 div{
	font-size: 24px;
	color: #fff;
	position: relative;
    bottom: 4px;
}
.nine-jiantou2 div{
	font-size: 24px;
	color: #fff;
	position: relative;
    bottom: 4px;
    left: 2px;
}
.nine-jiantou2{
	width: 20px;
	height: 48px;
	padding: 12px 0px;
	background: #EAEAEA;
	position: absolute;
	/* left: 0px; */
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	font-size: 20px;
	color: #fff;
	opacity: 0;
}

/* <!-- 视频开始 --> */
.ten{
	width: 1226px;
	height: 285px;
	margin: 0 auto;
	/* background: red; */
}
.ten-k{
	width: 296px;
	height: 285px;
	background: #FFFFFF;
	float:left; 
	margin-right: 14px;
	transition: all .2s linear;
}
.ten-k:nth-last-child(1){
	margin-right: 0px;
}
.ten-k:hover{
	box-shadow: 0px 20px 40px 0px rgba(200,200,200,0.6);
	transform: translateY(-3px);
}
.shipink{
	width: 100%;
	height: 180px;
	background: red;
/* 	position: relative; */
}
.icon{
	width: 36px;
	height: 26px;
	/* background: red; */
	position: relative;
	z-index: 3;
	bottom:37px;
	left: 23px;
	background-image: url('../img/icon.png');
	background-size: 100%;
	transition: all .2s linear;
}
.icon2{
	width: 36px;
	height: 26px;
	position: relative;
	z-index: 3;
	bottom:113px;
	left: 23px;
	background-image: url('../img/icon2.png');
	background-size: 100%;
	display: none;
}
.ten-k:hover .icon2{
	display: block;
}
/* .icon:hover{
	width: 36px;
	height: 26px;
	position: relative;
	z-index: 3;
	bottom:37px;
	left: 23px;
	background-image: url('../img/icon2.png');
	background-size: 100%;
} */
.ten .ten-k .p1k{
	width: 100%;
	height: 21px;
	font-size: 14px;
	text-align: center;
	margin-top: 32px;
	color: #333333;
}
.ten .ten-k .p2k{
	width: 100%;
	height: 21px;
	font-size: 13px;
	text-align: center;
	margin-top: 6px;
	color: #B0B0B0;
}
.ten .ten-k .p1k a{
	color: #333333;
}
.ten .ten-k .p1k a:hover{
	color: red;
}



/* <!-- 底部开始 --> */
footer{
	width:100%;
	height: 272px;
	background: #FFFFFF;
}
footer .top{
	width: 1226px;
	height: 80px;
	margin: 0 auto;
	/* background: yellow; */
	position: relative;
	border-bottom:1px solid #E0E0E0;
}
footer .top ul{
	width: 1226px;
	height: 25px;
	/* background: green; */
	position: absolute;
	left: 0px;
	top: 27px;
}
footer .top ul li{
	width: 245px;
	height: 25px;
	/* background: blue; */
	border-right:1px solid #E0E0E0;
	float: left;
	position: relative;
}
footer .top ul li:nth-last-child(1){
	border-right:0px solid #E0E0E0;
}

.li1,.li2,.li3,.li4,.li5{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	transition:background-image .05s linear;
}
.li1{
	width: 125px;
	height: 25px;
	/* background: pink; */
	background-image: url('../img/d1.png');
}
.li2{
	width: 135px;
	height: 25px;
	/* background: pink; */
	background-image: url('../img/d2.png');
}
.li3{
	width: 135px;
	height: 25px;
	/* background: pink; */
	background-image: url('../img/d3.png');
}
.li4{
	width: 122px;
	height: 25px;
	/* background: pink; */
	background-image: url('../img/d4.png');
}
.li5{
	width: 152px;
	height: 25px;
	/* background: pink; */
	background-image: url('../img/d5.png');
}
.li1:hover{
	background-image: url('../img/d1-1.jpg');
}
.li2:hover{
	background-image: url('../img/d2-1.jpg');
}
.li3:hover{
	background-image: url('../img/d3-1.jpg');
}
.li4:hover{
	background-image: url('../img/d4-1.jpg');
}
.li5:hover{
	background-image: url('../img/d5-1.jpg');
}
.then{
	width: 1226px;
	height: 192px;
	padding-bottom: 40px;
	padding-top: 40px;
	background: #FFFFFF;
	margin: 0 auto;
}
.then-k1{
	width: 160px;
	height: 112px;
	float: left;
	background: #FFFFFF;
}
.then-k2{
	width: 252px;
	height: 112px;
	float: right;
	background: #FFFFFF;
	border-left: 1px solid #E0E0E0;
	position: relative;
}
.then .then-k1 p:nth-child(1){
	width: 160px;
	height: 18px;
	color: #424242;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 18px;
	line-height: 18px;
}
.then .then-k1 p{
	width: 160px;
	height: 18px;
	 color: #757575;
    font-size: 12px;
    margin-top: 10px;
    line-height: 18px;
}
.then .then-k1 p:hover{
 	color: #ff6700;
}
.phone{
	margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
    position: absolute;
    left: 52.5px;
    top: 2px;
    margin: auto;
}
.time{
	width: 251px;
	height: 36px;
	margin: 0 0 16px;
    font-size: 12px;
    position: absolute;
    left: 52.5px;
    top: 33px;
    margin: auto;
}
.kefu{
	width: 120px;
	height: 30px;
	position: absolute;
    left: 67px;
    top: 79px;
    margin: auto;
    background-image: url('../img/time1.jpg');
}
.kefu:hover{
    background-image: url('../img/time2.jpg');
}
   
.last{
	width: 1349px;
	height: 166px;
	padding: 30px 0px;
	background: #FAFAFA;
}
.lasttop{
	width: 1226px;
	height: 57px;
	margin: 0 auto;
}
.lasttop .tu{
	width: 57px;
	height: 57px;
	background: #FF6709;
	float: left;
	margin-right: 10px;
}
.lasttop .tu img{
	width: 100%;
	height: 100%;
}
.sites{
	width: 740px;
	height: 19px;
	/* background: red; */
	float: left;
	font-size: 12px;
	color: #757575;
	line-height: 19px;
}
.sites p{
	display: inline;
}
.sites1{
	width: 740px;
	height: 38px;
	float: left;
	font-size: 12px;
	color: #b0b0b0;
	line-height: 19px;
}
.sites a{
	color: #757575;
}
.sites a:hover{
	color:#FF6709;
}
.sites1 a{
	color: #b0b0b0;
}
.sites1 a:hover{
	color:#FF6709;
}

.sitesright{
	width: 370px;
	height: 28px;
	float: right;
	/* background: red; */
	position: relative;
	top: -19px;
}
.sitesright .tu1{
	width: 84px;
	height: 28px;
	float: left;
	/* background: black; */
	margin-left: 7px;
}
.sitesright img{
	width: 100%;
	height: 100%;
}
.lastdi{
	width: 267px;
	height: 19px;
	margin: 30px auto 0;
	font-size: 18px;
	color: #BABABA;
}




