/* * img{
	width: 100%;
	height: 100%;
} */
body {
	font-size: 0.32rem;
    font-family: "苹方","微软雅黑", "Helvetica";
    color: #999;
   /*  width: 100%;
    height: 9.32rem;
    overflow-x: hidden;
	overflow-y: scroll;
	overflow-y: auto; */
}
.header-title{
	width: 100%;
	height: 0.89rem;
	background: #007BE3;
	position: fixed;
	left: 0;
	top: 0;
	/* margin: auto; */
}
.header-title-zi{
 	width: 2.27rem;
    height: 0.68rem;
    margin: 0 auto;
    padding-top: 0.16rem;
}
.header-title-logo{
	width: 0.7rem;
	height: 0.67rem;
	float: left;
	background-image: url('../img/logo.png');
	background-size: cover;
}  
.header-title-zi h3{
	font-size: 0.36rem;
    color: #fff;
    line-height: 0.68rem;
    float: left;
    margin-left: 0.16rem;
}
.banner{
	width: 100%;
	height: 4.21rem;
	background-image: url('../img/banner_02.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
/* 中间开始 */
.middle{
	width: 100%;
	height: 4.84rem;
	display: flex;
	padding: 0.28rem 0.2rem 0;
    overflow: hidden;
    display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	background: #F5F6FA;
}
.middle ul{
	width: 100%;
	height: 1.96rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.middle ul li{
	width: 1.55rem;
    height: 1.96rem;
    float: left;
    margin-bottom: 0.32rem;
    text-align: center;
    font-size: 0.24rem;
    color: #000;
}
.middle ul li a{
	display: block;
    width: 100%;
    height: 1.56rem;
    border-radius: 0.25rem;
    background-color: #fff;
    margin-bottom: 0.16rem;
    padding-top: 0.25rem;
    padding-left: 0.25rem;
    background: #fff;
}
.middle ul li a div{
	width: 1.05rem;
    height: 1.05rem;
}
.middle .li1{
	background-image: url('../img/shouye6.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 2rem;
}
.middle .li2{
	background-image: url('../img/shouye6.png');
	background-position: -0.98rem 0;
	background-repeat: no-repeat;
	background-size: 2rem;
}
.middle .li3{
	background-image: url('../img/shouye6.png');
	background-position: 0.13rem -1.1rem;
	background-repeat: no-repeat;
	background-size: 2rem;
}
.middle .li4{
	background-image: url('../img/ufo.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.middle .li5{
	background-image: url('../img/shouye6.png');
	background-position: -0.98rem -1.1rem;
	background-repeat: no-repeat;
	background-size: 2rem;
}
.middle .li6{
	background-image: url('../img/shouye6.png');
	background-position: 0.04rem -3.33rem;
	background-repeat: no-repeat;
	background-size: 2rem;
}
.middle .li7{
	background-image: url('../img/shouye6.png');
	background-position: 0.1rem -2.2rem;
	background-repeat: no-repeat;
	background-size: 2rem;
}
.middle .li8{
	background-image: url('../img/shouye6.png');
	background-position: -0.98rem -2.2rem;
	background-repeat: no-repeat;
	background-size: 2rem;
}
/* 服务体系 */
.server{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #fff;
	margin-bottom: 0.9rem;
}
.server-title{
	width: 100%;
	height: 0.65rem;
	border-bottom: 0.02rem solid #e8e8e8;
    text-align: center;
    line-height: 0.65rem;
    font-size: 0.24rem;
    color: #1378ba;
}
.server .tuwen1{
	width: 100%;
    height: 2.18rem;
    border-bottom: 1px solid #e8e8e8;
}
.tuwen1 li{
	float: left;
    width: 50%;
    height: 100%;
    border-right: 1px solid #e8e8e8;
    padding: 0.38rem 0rem 0.48rem 0.16rem;
}
.tuwen1-left{
	width: 1.8rem;
    float: left;
    height: 100%
}
.tuwen1-left p{
	display: block;
}
.tuwen1-left .p1{
	font-size: 0.24rem;
    font-weight: normal;
    color: #000000;
}
.tuwen1-left .p2{
	font-size: 0.18rem;
    font-weight: normal;
    color: #999999;
}
.tuwen1-right1{
	width: 1.5rem;
    height: 100%;
    float: left;
    background-image: url('../img/shouye6.png');
	background-position: 0rem -4.4rem;
	background-repeat: no-repeat;
	background-size: 2rem;
}
.tuwen1-right2{
	width: 1.5rem;
    height: 100%;
    float: left;
    background-image: url('../img/shouye6.png');
	background-position: 0rem -5.9rem;
	background-repeat: no-repeat;
	background-size: 2rem;
}
.tuwen2{
	width: 100%;
    height: 1.38rem;
    border-bottom: 1px solid #e8e8e8;
}
.tuwen2 li{
	float: left;
    width: 33.333333%;
    height: 100%;
    border-right: 0.02rem solid #e8e8e8;
    padding: 0.4rem 0 0.38rem 0.2rem;
}
.tuwen2 div{
	width: 0.6rem;
    height: 100%;
    float: left;
}
.tuwen2-left p{
	display: block;
}
.tuwen2 .p3{
	width: 1.5rem;
	height: 0.34rem;
	font-size: 0.24rem;
    color: #000000;
    font-weight: normal;
    float: left;
    margin-left: 0.1rem;
}
.tuwen2 .p4{
	width: 1.5rem;
	height: 0.3rem;
	font-size: 0.18rem;
    color: #999999;
    font-weight: normal;
    line-height: 0.3rem;
    margin-left: 0.1rem;
    float: left;
}
.tuwen2-left1{
	background-image: url('../img/shouye_01.png');
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
}
.tuwen2-left2{
	background-image: url('../img/shouye_02.png');
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
}
.tuwen2-left3{
	background-image: url('../img/shouye_03.png');
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
}
/* 底部开始 */
.contact{
	width: 100%;
    height: 0.9rem;
    background-color: #ffffff;
    margin-top: 0.2rem;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: auto;
}
.contact-dibu{
	width: 100%;
    height: 100%;
    background: #e7e7e7;
}
.dibu-left{
	width: 30%;
    height: 0.8rem;
    float: left;
    font-size: 0.24rem;
    color: #000;
    text-align: left;
    line-height: 0.9rem;
    background: #e7e7e7;
}
.dibu-left span{
	float: left;
    font-size: 0.26rem;
    /* margin-left: 0.1rem; */
}
.dibu-left span .p5{
	width: 0.32rem;
    height: 0.32rem;
    float: left;
    line-height: 0.9rem;
    margin-top: 0.28rem;
    margin-left: 0.27rem;
    background-image: url('../img/qq.png');
    background-size: 100%;
    background-position: center center;
    margin-right: 0.1rem;
}
.dibu-middle{
	width: 40%;
    height: 0.9rem;
    position: relative;
    z-index: 99999;
	background-color: #ff8d12;
    border-radius: 0.08rem;
    color: #fff;
    text-align: center;
    box-shadow: 0px 0px 0.15rem #ff8d12;;
    float: left;
    bottom: 0.1rem;
}
.dibu-middle span{
	text-align: center;
	float: left;
    margin-left: 0.6rem; 
    margin-top: 0.28rem;
    font-size: 0.3rem;
    font-weight: bold;
}
.dibu-middle span p{
	width: 0.32rem;
    height: 0.32rem;
    float: left;
    line-height: 0.9rem;
    margin-right: 0.2rem;
    background-image: url('../img/shouye6.png');
    background-position: -1.6rem -4.78rem;
    background-size: 2rem;
    background-repeat: no-repeat;
}
.dibu-left span .p6{
	width: 0.32rem;
    height: 0.32rem;
    float: left;
    line-height: 0.9rem;
    margin-top: 0.28rem;
    margin-left: 0.27rem;
    margin-right: 0.1rem;
    background-image: url('../img/shouye6.png');
    background-position: -1.6rem -5.3rem;
    background-size: 2rem;
    background-repeat: no-repeat;
    
}

