body{
	font-family: "微软雅黑";
}
.head-bigk{
	width: 100%;
	height: 154px;
    background: url("../img/wek.jpg") no-repeat center center;
}
.head-bigk main{
	width: 1200px;
	height: 100%;
	margin:  0 auto;
	padding-left: 15px;
	position: relative;
}
.head-tuk{
	width: 656px;
	height: 75px;
	position: absolute;
	left: 15px;
	top: 0;
	bottom: 0;
	margin: auto;
}
.head-zik{
	width: 257px;
	height: 52px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.headzi-left{
	width: 56px;
	height: 46px;
	float: left;
}
.headzi-left img{
	width: 100%;
	height: 100%;
}
.headzi-right{
	width: 189px;
	height: 100%;
	float: right;
}
.headzi-right .p1{
	color: #fff;
    font-weight: 800;
    font-size: 16px;
    font-family: å¾®è½¯é›…é»‘;
}
.headzi-right .p2{
	color: #fff;
    font-size: 18px;
    font-family: å¾®è½¯é›…é»‘;
}
.fengetu{
	width: 100%;
	height: 2px;
	background-image: url('../img/t1.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}
/* 导航开始 */
nav{
	width: 100%;
	height: 70px;
	background:url("../img/nav.jpg") repeat-x; 
}
.nav-main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
    background: url("../img/nav1.jpg") no-repeat center center;
}
.nav-main ul{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.nav-main ul li{
	width: 134px;
	height: 100%;
	text-align: center;
	line-height: 70px;
    color: #fff;
    font-size: 18px;
}
.nav-main ul li>a{
	color: #fff;
}
.nav-main ul li:nth-child(1){
	width: 86px;
}
.nav-main ul li:nth-last-child(2){
	width: 80px;
}
/* banner开始 */
.bannerk{
	width: 100%;
	height: 373.78px;
	background-image: url('../img/banner.jpg');
	background-size: 100%;
	position: relative;
}
.bannerk ul{
	width: 40px;
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.bannerk ul li{
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #9782A0;
}
.bannerk ul li:nth-child(1){
	background: #fff;
}
/* 内容 */
.neirong-bigk{
    width: 100%;
    height: auto;
    /* overflow: hidden; */
    margin: 0 auto;
    background: url('../img/qiyejianjie/main_bot.png') no-repeat center bottom;
    padding-top: 1px;
    position: relative;
    z-index: 2;
}
.neirongk-top{
    width: 1200px;
    margin: 0 auto;
    margin-top: -45px;
    /* height: 445px; */
    position: relative;
    background: url("../img/con1.png") no-repeat top center;
	z-index: 20;
}
.onek-title{
	padding:0 34px;
    padding-top: 80px;
    font-size: 14px;
    color: #fff;
    font-family: 微软雅黑;
    margin-bottom: 22px;
    /* line-height: 32px; */
    /* height: 128px; */
}
.onek-title a{
	color: #fff;
}
.qiyetitlek{
	width: 100%;
	height: 56px;
	text-align: center;
	color: #fff;
	background: url('../img/qiyejianjie/wej.png') no-repeat center center;
	padding:0 34px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.qtitle{
	font-size: 20px;
}
.qtitle span{
	 padding: 1px 6px;
    background: #0c8dcd;
    font-size: 16px;
    color: #f8f8f8;
}
.onenav{
	width: 400px;
	height: 32px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.onenav div{
	width: 120px;
	height: 100%;
	padding: 0 28px;
    background: #e8b2f9;
    color: #3f084d;
    line-height: 32px;
    float: left;
}
.zhengwenk{
	width: 100%;
	height: 515px;
	padding: 0 34px;
	background: #650C7A;	
}
.zhengwen-left{
	width: 360px;
	height: 100%;
	float: left;
}
.zhengwen-left img{
	width: 100%;
	height: 100%;
}
.zhengwen-right{
	width: 763px;
	height: 100%;
	float: right;
}
.zw-top{
	width: 100%;
	height: 75px;
	margin-bottom: 14px;
}
.zhengwen-right .ozi{
	color: #e8b2f9;
    line-height: 32px;
    font-size: 14px;
    text-indent: 32px;
    margin-bottom: 130px;
}
.gongsi-tu{
	width: 526px;
	height: 60px;
	float: right;
}
.kongk{
	width: 100%;
	height: 150px;
	background: #650C7A;	
}



/* 底部开始 */
.kkk{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #25052e;
	padding-bottom: 26px;
}
footer{
	width: 100%;
	height: 156px;
	background: url('../img/foot-bg.png') no-repeat center center #230039;
	position: relative;
}
.dimain{
	width: 1200px;
	height: 197px;
	position: absolute;
	left: 0;right: 0;
	top: -41px;
	margin:auto;
    background: url('../img/dtop.png') no-repeat top center;
	z-index: 21;
}
.dik{
	width: 100%;
	height: 155px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding-top: 37px;
	padding-left: 22px;
}
.erweima{
	width: 102px;
	height: 102px;
	margin-right: 12px;
	float: left;
}
.wenbenk{
	width: 785px;
	float: left;
}
.wenbenk span{
	height: 26px;
	line-height: 26px;
	display: inline-block;
	font-size: 12px;
	color: #fff;
}
.wenbenk span a{
	color: #fff;
}
.wenbenk span a span{
	display: inline;
}
.diright{
	width: 277px;
	height: 89px;
	float: right;
}
.right-top{
	width: 100%;
	height: 22px;
	padding-right: 20px;
	padding-left: 50px;
	display: flex;
	justify-content: space-between;
}
.right-di-r{
	width: 112px;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;padding-top: 20px;
	float: left;
}
.right-di-r img{
	width: 39px;
	height: 39px;
}
.right-di-l{
	width: 165px;
	float: right;
	padding-top: 20px;
	color: #fff;
}
.right-di-l p:first-child{
	font-size: 25px;
	display: block;
}
.right-di-l p:last-child{
	font-size: 14px;
	display: block;
}